/* body {
  background-color: #1E58BC;
  height: 100vh;
  width: 100vw;
} */

#root {
  height: 100%;
}

.App {
  display: flex;
  height: 100%;
  margin-right: 24px;
  gap: 12px;
}

.sideNav {
  font-size: 32px;
  color: white;
  padding: 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 96px;

}

.action-button {
  font-size: 24px;
  color: white;
  /* padding: 32px 64px; */
  display: flex;
  flex-direction: column;
  gap: 32px;
  cursor: pointer;
}


.chatWindow {
  background-color: #F4FAF6;
  margin: 24px 0;
  border-radius: 12px;
  flex: 4;
  padding: 12px;
  display: flex;
  gap: 12px;
}

.profileWindow {
  background-color: #F4FAF6;
  margin: 24px 0;
  border-radius: 12px;
  flex: 1 1;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.chatList {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 12px;
  width: 256px;
  height: calc(100% - 32px);
}

.chatListTitle {
  display: flex;
  margin: 12px 0;
  font-size: 18px;
  justify-content: space-between;
  font-weight: 600;
  align-items: center;
}

.nameCard {
  padding: 12px 0;
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: solid 1px #F4FAF6;
}

.avatar-description {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.name {
  font-size: 14px;
  font-weight: 600;
}

.status {
  font-size: 12px;
}

.profilePicture {
  height: 84px;
  width: 84px;
  overflow: hidden;
  border-radius: 100%;
  /* text-align: center; */
  border: solid 4px lightgrey;
}

.profileName {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.profiletitle {
  padding-top: 4px;
  font-size: 12px;
  font-weight: 300
}

.subCollapse {
  display: flex;
  flex-direction: column;
}


.CollpaseTile {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  padding: 12px 4px;
  border-bottom: solid 1px lightgray;
}


.conversation-profile-picture {
  height: 60px;
  width: 60px;
  overflow: hidden;
  border-radius: 100%;
  /* text-align: center; */
  border: solid 4px lightgrey;
}

.conversation-window {
  padding: 24px 12px;
  /* width: 100%; */
  flex: 1;

}

.Conversation-heading {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.conversationBody {
  width: 100%;
  height: calc(100% - 110px);
  overflow: auto;
}

.replyChat {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  gap: 12px;
  align-items: end;
  margin: 12px 0;
}

.myChat {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  gap: 12px;
  align-items: end;
  margin: 12px 0;
  justify-content: flex-end;
}

.replyChat-message {

  background-color: #F36BAB;
  padding: 8px;
  border-radius: 12px 12px 12px 0;
  color: white;
  max-width: 80%;
}

.myChat-message {

  background-color: #FFFFFF;
  padding: 8px;
  border-radius: 12px 0 12px 12px;
  color: black;
  max-width: 80%;
}



.ColorBox {
  width: 200px;
  height: 200px;

}


.box-div {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 16px;
}